DATABASE_HOST=put_data_here
DATABASE_PORT=put_data_here
DATABASE_USERNAME=put_data_here
DATABASE_PASSWORD=put_data_here
DATABASE_NAME=put_data_here

TEAMLINKS_API_PUBLIC_BASE_URL=put_data_here
TEAMLINKS_CORS_ALLOWED_ORIGINS=put_data_here
TEAMLINKS_SHORTENER_PUBLIC_BASE_URL=put_data_here
